name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ~1.20
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Cache go module cache
      id: cache-go-mod
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Get dependencies
      run: go mod download

    - name: check
      run: make fix

    - name: Test
      run: make test
    
    - name: Test Sanity
      run: make test-sanity

    - uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: cover.out

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ~1.20
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.48.0

  go-apidiff:
    name: go-apidiff
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ~1.20
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Run go-apidiff
      uses: joelanford/go-apidiff@main
